/* src/styles/base.css */

@font-face {
  font-family: "Nohemi";
  src: url("../assets/fonts/Nohemi-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --padding-huge: 3rem;
  --padding-big: 2rem;
  --padding-large: 1.5rem;
  --padding-normal: 1rem;
  --padding-small: 0.5rem;
  --padding-tiny: 0.25rem;

  /* Neutral Shades */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-light: #d3d3d3;
  --color-gray: #a5a5a5;
  --color-gray-dark: #444444;

  /* Chilean Palette */
  --color-chile-blue: #0032a0;
  --color-chile-red: #da291c;
  --color-chile-light-blue: #dce9f4;
  --color-chile-light-red: #f9cccf;

  /* Light Theme Colors */
  --color-light-red: #e63946;
  --color-light-bg: #f1faee;
  --color-light-blue: #a8dadc;
  --color-light-navy: #457b9d;
  --color-light-dark-blue: #1d3557;

  /* Dark Theme Colors */
  --color-dark-bg: #11151c;
  --color-dark-blue: #212d40;
  --color-dark-navy: #364156;
  --color-dark-rose: #7d4e57;
  --color-dark-orange: #d66853;

  /* UI Colors */
  --color-success: #7cb46b;
  --color-error: var(--color-light-red);
  --color-warning: #ffa500;
  --color-info: #1e90ff;

  /* Fonts */
  --primary-font-family: "Nohemi", sans-serif;
  --secondary-font-family: "Satoshi", sans-serif;
  --monospace-font-family: "Courier New", monospace;

  /* Font Sizes */
  --fontsize-huge: 3rem;
  --fontsize-big: 2rem;
  --fontsize-large: 1.5rem;
  --fontsize-semi-large: 1.25rem;
  --fontsize-normal: 1rem;
  --fontsize-small: 0.875rem;
  --fontsize-tiny: 0.75rem;
}

[data-theme="light"] {
  --color-background: var(--color-light-bg);
  --color-background-soft: var(--color-light-blue);
  --color-header: var(--color-light-dark-blue);
  --color-header-nav-ul: var(--color-light-blue);
  --color-header-nav-li: var(--color-light-dark-blue);
  --color-footer: var(--color-light-dark-blue);
  --color-title: var(--color-light-dark-blue);
  --color-subtitle: var(--color-light-dark-blue);
  --color-text: var(--color-light-dark-blue);
  --color-inversed-text: var(--color-white);
  --color-border: var(--color-light-navy);

  --color-link: var(--color-light-red);
  --color-link-hover: var(--color-light-dark-blue);
  --color-inversed-link: var(--color-white);
  --color-inversed-link-hover: var(--color-light-blue);

  --color-primary: var(--color-gray-dark);
  --color-primary-hover: var(--color-light-navy);
  --color-secondary: var(--color-chile-light-red);
  --color-secondary-hover: var(--color-light-blue);

  --color-input-background: var(--color-white);
  --color-input-border: var(--color-light-dark-blue);
  --color-input-text: var(--color-black);
  --color-input-focus: var(--color-light-navy);
}

[data-theme="dark"] {
  --color-background: var(--color-dark-bg);
  --color-background-soft: var(--color-dark-blue);
  --color-header: var(--color-dark-navy);
  --color-header-nav-ul: var(--color-light-navy);
  --color-header-nav-li: var(--color-white);
  --color-footer: var(--color-dark-navy);
  --color-title: var(--color-white);
  --color-subtitle: var(--color-gray-light);
  --color-text: var(--color-gray-light);
  --color-inversed-text: var(--color-white);
  --color-border: var(--color-dark-rose);

  --color-link: var(--color-dark-orange);
  --color-link-hover: var(--color-chile-red);
  --color-inversed-link: var(--color-white);
  --color-inversed-link-hover: var(--color-dark-orange);

  --color-primary: var(--color-dark-rose);
  --color-primary-hover: var(--color-dark-orange);
  --color-secondary: var(--color-dark-navy);
  --color-secondary-hover: var(--color-dark-blue);

  --color-input-background: var(--color-dark-blue);
  --color-input-border: var(--color-gray);
  --color-input-text: var(--color-white);
  --color-input-focus: var(--color-dark-orange);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
}

.app-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  max-width: calc(100vw - 2 * var(--padding-big));
  padding: var(--padding-big);
  margin: 0;
}

div {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: var(--primary-font-family);
  font-weight: bold;
}

p {
  padding: 0;
  margin: 0;
  font-family: var(--secondary-font-family);
}

a {
  color: var(--color-link);
  font-family: var(--secondary-font-family);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

button {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 800px) {
  .app-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
  }

  .main-content {
    width: 100%;
    max-width: 95vw;
    padding: 0;
    padding-top: calc(var(--padding-huge) + 2 * var(--padding-normal));
  }
}
