/* src/styles/nav.css */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  max-width: calc(100vw - 2 * var(--padding-normal));
  padding: var(--padding-normal);
  background-color: var(--color-header);
  color: var(--color-inversed-text);
  overflow: hidden;
}

.nav h1 {
  flex-grow: 1;
  font-family: var(--primary-font-family);
  font-size: var(--fontsize-large);
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  gap: var(--padding-normal);
  list-style: none;
}

.nav ul li a {
  color: var(--color-inversed-link);
  text-decoration: none;
  font-size: var(--fontsize-normal);
  transition: color 0.3s ease;
}

.nav ul li a:hover {
  color: var(--color-chile-red);
}

.hamburger {
  display: none;
  background: none;
  color: var(--color-inversed-text);
  border: none;
  font-size: var(--fontsize-big);
  cursor: pointer;
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  padding: var(--padding-small);
  margin: 0;
  margin-left: var(--padding-normal);
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: var(--padding-normal);
  transition: background 0.3s ease;
  cursor: pointer;
  z-index: 102;
}

.theme-toggle:hover {
  background-color: var(--color-primary-hover);
}

@media (max-width: 800px) {
  .nav {
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    max-width: calc(100vw - 2 * var(--padding-normal));
    height: var(--padding-huge);
    padding: 0 var(--padding-normal);
    gap: 0;
  }

  h1.nav-title {
    width: fit-content;
    max-width: max-content;
    font-size: var(--fontsize-normal);
  }

  .hamburger {
    display: block;
    position: fixed;
    top: 0;
    /* left: 0; */
    right: 0;
    width: var(--padding-huge);
    height: var(--padding-huge);
    padding: 0;
  }

  .nav ul {
    position: fixed;
    top: var(--padding-huge);
    left: 0;
    width: 100%;
    max-width: 100vw;
    padding: 0;
    margin: 0;
    padding-top: var(--padding-normal);
    background-color: var(--color-header-nav-ul);
    flex-direction: column;
    display: none;
    z-index: 100;
  }

  .nav ul.show {
    display: flex;
  }

  .nav ul li {
    padding: 0;
    text-align: center;
  }

  .nav ul li a {
    display: block;
    width: 100%;
    color: var(--color-header-nav-li);
  }

  .theme-toggle {
    margin: 0;
    margin-bottom: var(--padding-normal);
  }
}
